ConsoleUI/Service References/ServiceReference1/RESTfulService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RESTfulService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:61220/RESTfulService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:61220/RESTfulService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:61220/RESTfulService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ServiceLayer" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRestfulService_GetJsonData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonData" />
  </wsdl:message>
  <wsdl:message name="IRestfulService_GetJsonData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetJsonDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRestfulService_GetXmlData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlData" />
  </wsdl:message>
  <wsdl:message name="IRestfulService_GetXmlData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetXmlDataResponse" />
  </wsdl:message>
  <wsdl:message name="IRestfulService_AddData_InputMessage">
    <wsdl:part name="parameters" element="tns:AddData" />
  </wsdl:message>
  <wsdl:message name="IRestfulService_AddData_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddDataResponse" />
  </wsdl:message>
  <wsdl:portType name="IRestfulService">
    <wsdl:operation name="GetJsonData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestfulService/GetJsonData" message="tns:IRestfulService_GetJsonData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestfulService/GetJsonDataResponse" message="tns:IRestfulService_GetJsonData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestfulService/GetXmlData" message="tns:IRestfulService_GetXmlData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestfulService/GetXmlDataResponse" message="tns:IRestfulService_GetXmlData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddData">
      <wsdl:input wsaw:Action="http://tempuri.org/IRestfulService/AddData" message="tns:IRestfulService_AddData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRestfulService/AddDataResponse" message="tns:IRestfulService_AddData_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRestfulService" type="tns:IRestfulService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetJsonData">
      <soap:operation soapAction="http://tempuri.org/IRestfulService/GetJsonData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetXmlData">
      <soap:operation soapAction="http://tempuri.org/IRestfulService/GetXmlData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddData">
      <soap:operation soapAction="http://tempuri.org/IRestfulService/AddData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RESTfulService">
    <wsdl:port name="BasicHttpBinding_IRestfulService" binding="tns:BasicHttpBinding_IRestfulService">
      <soap:address location="http://localhost:61220/RESTfulService.svc/soap" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>